@media (max-width: 1440px) {
  .content {
    margin: 0 30px 0 30px;

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 1024px) {
  .content__title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  body {
    background: none
  }
  .calculator__img {
    display: none;
  }
}

@media (max-width: 425px) {
  .container {
  }
  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }


  .content {

    &__title {
      font-size: 26px;
      width: 350px;
    }

    &__block {
      align-items: start;
      gap: 20px;
    }
  }
  .calculator {
    &__inputs {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      place-items: center;
    }

    &__input {
      width: 343px;
    }

    &__cost {
      flex-direction: column;
      align-items: start;
    }

    &__check {
      gap: 10px;
      padding: 0;
    }

    &__buttons {
      gap: 16px;
    }
  }


  .cost__title {
    font-size: 26px;
  }
  .block__calculator {
    overflow: unset;
    box-shadow: none;
  }

  .select__option {
    width: 343px;
  }

  .button {
    &__cost {
      width: 168px;
      font-size: 12px;
    }
    &__download {
      width: 168px;
      font-size: 12px;
    }
  }
}



